*{
    margin: 0;
}
.parent{
    width: 20%;
    background-color: teal;
    height: 400px;
    border: solid 2px red;
}
.chiled{
    width: 40px;
    height: 40px;
    background-color: orange;
    
}