@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik";
}
.products{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    gap :20px 10px;
}

.product{
    width: 250px;
    
    padding: 5px;
    border-radius: 10px;
    border: 1.5px solid #2684fc;
}

.products .product img{
    width: 100%;
    border-radius: 10px;
}
.product h3{
    
margin:10px 0px;
color :#2684fc;
}
.product p{
    margin: 5px 0px;
}
.buttons{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.buttons p{
margin: 0px;

background-color: #2684fc;
padding: 10px;
border-radius: 5px;
width: 70%;
text-align: center;
color: snow;
}
.buttons i{
    padding: 10px;
    border-radius: 5px;
    color: #2684fc;
    border: 1px solid #2684fc;
}